RESEND_API_KEY=
DASHBOARD_PASSWORD=
JWT_SECRET=
RESEND_WEBHOOK_SECRET=
DATABASE_URL=
FIREBASE_SERVICE_ACCOUNT_JSON=
SENDER_EMAIL=hello@zenos.studio
SENDER_NAME=Zenos Mail
REPLY_TO=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NTFY_TOPIC=
